<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GitHub Latest Commits</title>
  </head>
  <body>
    <h1>GitHub Latest Commits</h1>

    <% if (!user) { %>
    <a href="/auth/github"><button id="butt">Authorize with GitHub</button></a>
    <% } else { %>
    <h2>Welcome, <%= user.login %>!</h2>

    <% if (repositories && repositories.length > 0) { %>
    <h3>Your Repositories:</h3>
    <ul>
      <%for (const repo of repositories) { %>
        <h2>Commits for <%= repo.full_name %>:</h2>
        <% let i = 1 %>
        <%for (const commit of repo.commits) {%>
          <li>SHA: <%= commit.sha %></li>
          <li>Author: <%= commit.commit.author.name %></li>
          <li>Message: <%= commit.commit.message %></li>
          <% i++ %>
          <% if(i == 5) %>
          <% break %>
        <%}%>
      <%}%>
    </ul>
    <% } else { %>
    <p>No repositories found.</p>
    <% } %> <% } %>
  </body>
</html>
